<div
  class="skill-card"
  [style.animation-delay.ms]="animationDelay">

  <div class="skill-icon-wrapper">
    <ng-container *ngIf="skill.icon.endsWith('.svg'); else emojiIcon">
      <img [src]="skill.icon" [alt]="skill.name + ' icon'" />
    </ng-container>
    <ng-template #emojiIcon>
      <span class="icon-emoji">{{ skill.icon }}</span>
    </ng-template>
  </div>

  <div class="skill-name">{{ skill.name }}</div>

  <div class="skill-progress">
    <div class="skill-level-text">{{ getLevelText(skill.level) }}</div>
    <div class="progress-bar-container">
      <div class="progress-bar-background">
        <div
          class="progress-bar-fill"
          [style.width.%]="getLevelPercentage(skill.level)"
          [style.background-color]="getLevelColor(skill.level)">
        </div>
      </div>
    </div>
  </div>

</div>
